/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
}

.all {
    height: auto;
    width: 1024px;
    align-items: center; 
    text-align: left;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}

h1, h2, h3, h4 {
   
}

ol, ul,li {
    display: flex;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-de-link);
}

.imagem {
    display: flex;
    justify-content: center; /* Alinhamento horizontal */
    align-items: center; /* Alinhamento vertical */
    width: 20px;
    height: 20px;
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sessão Menu*/

section.menu {

}

/*Sessão Title*/

section.title{

}

/*Sessão About*/

section.about{

}

/*Sessão Hobbies*/

section.hobbies{
    
}

/* Experiência Acadêmica*/

section.academic{

}

/* experiência*/

section.experience{

}

/*Contato*/

section.formcontato{

}

/*footer*/

section.footer{
   
}

header {
    display: flex;
    unicode-bidi: isolate;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

/* Menu */
.menu {
    display: flex;
    align-items: center;
    padding: 20 20 0 0;
    top: 0;

}

.nav {
    display: flex;
}

.menu__conteiner {
    justify-content: space-around;
}

.menu__list {
    display: flex;
    flex-direction: row;
}

.menu__list__item {
    padding: 10px;
}

/*title*/
.title {
    display: flex;
}

.title__div {
    justify-content: center;
}

.title__profile {
}

.title__container {
    display: flex;
    flex-direction: column;
    align-content: start;
}

.title__bio {
}

.title__network {
    padding: 5px;
}

.title__network__item {
    padding: 15px;

}

/*Skills*/
.skills {

}

.skills__line {
    display: flex;
    flex-direction: row; 
    
}

.skills__box {
    align-items: center;
}


.skills__names {
}

/*Hobbies*/
.hobbies__line {
    display: flex;
    flex-direction: row;
}

/*Experiências acadêmicas*/

/*Expeirência profissional*/



/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (min-width: 768px) {

}



/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sessão sobre*/

/*Skills*/

/*Hobbies*/
 
/*Formação Acadêmica*/

/*Experiência Profissional*/

 /*Contato*/

/*Footer*/

}